html {
    background-color: #e7ecf1;
  }
.main_form {
    text-align: center;
  }
.main_list {
    text-align: center;
  }
.main_list ul {
    display: inline-block;
  }
.main_list ul li {
      float:left;
  }
