html {
    background-color: #e7ecf1;
    font-size: 25px;
  }
.main_form {
    text-align: center;
  }
.main_list {
    text-align: center;

  }
.main_list ul {
    display: inline-block;
    list-style-type:  none;
  }
#numbers {
  display: inline-block; 
  font-size: 20px; 
  font-family: sans-serif;
}
#messages {
  display: inline-block; 
  font-size: 20px; 
  font-family: sans-serif;
}
