<!DOCTYPE html>
<html>
    <head>
        <title>Тестовое задание</title>
        <meta charset="utf-8">
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    </head>
    <body>
        <div class="main_form">
            <h1>Вводите сообщение</h1>
            <input type="button" name="send_message_button" value="Отправить"></button>
            <input type="text" id="messageText">
        </div>
        <div class="main_list">
            <ul id='messages'>
            </ul>
        </div>
        <script charset="utf-8" type="application/javascript" src="/static/websocket_client.js"></script>
    </body>
</html>